@import 'reset';
@import 'themes/dark';
@import 'themes/default';
@import 'variables/global';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh ;
}

.content-type {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}