@import "reset";
@import "themes/dark";
@import "themes/default";
@import "variables/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh ;
}