.dark {
  --bg-color: #0d1117;
  --inverted-bg-color: #0b0c0c;
  --inverted-secondary-bg-color: #eeeeee;
  //--inverted-item-color: #37383b42;


  --primary-color: #c5d3d3;
  --inverted-primary-color: #cfd7d7;
  --inverted-secondary-color: #161b22;
}