.app.default {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #384141;
  --secondary-color: #2aa5a0;
  --inverted-primary-color: #c5d3d3;
  //--inverted-secondary-color: #2aa5a0;
}