:root {
  --bg-color: #f5f5f5;
  --inverted-bg-color: #e8e8ea;
  --inverted-secondary-bg-color: #282828;
  //--inverted-item-color: #c3c3c34d;


  --primary-color: #384141;
  --secondary-color: #2aa5a0;
  --inverted-primary-color: #384141;
  --inverted-secondary-color: #e8e8ea;
}