.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 20px;
}

.mainLink {
  margin-right: 15px;
}

.variant {
  color: var(--inverted-secondary-color);
}

.menuWrapper {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.menuWrapper:hover {
  background: #7d7d7d1c;
}

.menuWrapper:active {
  background: #a3a2a21c;
}

.modalWrapper {
  align-items: center;
}