.themeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 10px;
  padding-left: 5px;
}
.darkIconHover:hover {
  transition: 0.2s;
  width: 30px;
  opacity: 60%;
}

.defaultIconHover:hover {
  transition: 0.2s;
  width: 30px;
  opacity: 60%;
}